/* COLOUR REFERENCES

Green:		#79b044
Salmon:		#dd5638
Blue Gray:  #3e4249

*/

/* ==== GENERAL ==== */

body {
    margin-top: 56px;
    font-family:50px; 'proxima-nova', 'Raleway', 'Helvetica', 'sans-serif';
    font-size: 16px;
    background: url('../img/title.jpg') top left repeat; /* img not working. not sure why */
    
}

/* GLOBAL*/

h1,h2,h3,h4,h5,h6 {
    
    -webkit-font-smoothing: antialiased;
	text-rendering: optimizelegibility;
	font-weight: bold;
}
h1 {
    font-size: 3em;
}
h1,h2 {
    
    margin: 0 0 40px;
}

h3 {
    
    margin: 20px 0;
}
h4 {
    font-size: 18px;
    
}

button, input, .btn, a.btn {
     -webkit-font-smoothing: antialiased;
	text-rendering: optimizelegibility;
    color: white
}

img {
    
    max-width: 100%
}

/*Hero*/

#hero {
    
    background: url('../img/hero-bg.jpg') 50% 0 repeat fixed; /* would like to resize this photo, but not sure how to do it on css */
    min-height: 50px;
    padding: 40px 0;
    color: white;
    -webkit-font-smoothing: antialiased;
	text-rendering: optimizelegibility;
	    
}

#hero .hero-text {
    margin-top: 30px;
        
}
#DD-PT {
        margin: 30px 0 60px
        text-align: center;
}

#DD-PT .price{
    display: inline-block;
    margin: 0 2% 0 0;
    width: 30%;
    background: #3e4249;
    padding: 10px 20px 30px;  
    position: relative;
    vertical-align: top;
        
    
}

#DD-PT .price.price {
    background: #dd5638;
    
}

#DD-PT .price span {
   	background: #101010;
	display: block;
	height: 70px;
	width: 70px;
	text-align: center;
	line-height: 70px;
	font-weight: bold;
	font-size: 24px;
	border-radius: 100%;
	-webkit-border-radius: 100%;
	-moz-border-radius: 100%;
	position: absolute;
	bottom: -35px;
	left: 50%;
	margin-left: -35px;
    
}
#price-active h4 small {
    
    color: white;
    font-weight: bold;
    display: block;
}


/* Not sure how to center (Fit4Ever on navbar)*/
/*
. navbar-brand {
    margin-left: 300px;
}*/

/*-- layout --*/
section {
    padding: 80px 0;
        
}
.section-header {
    
    text-align: center;
}
section h2 {
    margin: 20px 0 40px;
}
section h3 {
    margin: 30px 0 10px;
}

#optin {
    
    background: #3e4249;
    padding: 20px 0;
    color: white;
     -webkit-font-smoothing: antialiased;
	text-rendering: optimizelegibility;
    font-size: 1.2em;
    
    
}

#optin p {
    
    margin: 7px 0 0 0;
    
}

#what-you-get {
    background: #3e4249;
    color: white;
    text-align: center;
}

#pt-features {
    
    text-align: center;
}

#featurette {
    background: url('../img/stuff-bg.jpg') 50% 100% repeat fixed;
    text-align: center;
    background-size: cover;
    text-align: center;
    color: white;
}

#instructor {
    
   	background: rgba(255, 245, 250, 0.12) url('../img/me.png') 90% 10px no-repeat;
} /* my photo doesn't work!!! not sure why? */ 

/* === CUSTOM ICON SPRITES === */

i.ci {
	display: inline-block;
	height: 40px;
	width: 40px;
	background: url('../img/icon-sprite.png') no-repeat;
}

.ci.ci-limits    	{ background-position: 0 0; }
.ci.ci-time 		{ background-position: -40px 0; }
.ci.ci-form  		{ background-position: -80px 0; }
.ci.ci-better   	{ background-position: -120px 0; }
.ci.ci-support    	{ background-position: -160px 0; }
.ci.ci-results		{ background-position: -200px 0; }